
.view-animate.ng-enter {
  transition:0.25s linear all;
  transition-delay: 0.25s;
  opacity:0;
}

.view-animate.ng-enter.ng-enter-active {
  opacity:1;
}

.view-animate.ng-leave {
  transition:0.25s linear all;
  opacity:1;
}

.view-animate.ng-leave.ng-leave-active {
  opacity:0;
}
