<div class="ui page grid">

  <div class="row" style="padding-top: 15px;">
  </div>

  <div class="row">

    <div class="column">

      <div class="ui segment">

        <div class="ui form">

          <h1 class="ui dividing header">
            <a href="/">Home</a> / Config
          </h1>

          <div class="field">
            <label>Site Name</label>
            <input ng-model="siteName" type="text">
          </div>

          <div class="field">
            <label>Site Subtitle</label>
            <input ng-model="siteSubtitle" type="text">
          </div>

          <div class="field">
            <label>URL</label>
            <input ng-model="url" type="text">
          </div>

          <div class="field">
            <label>Item of Page</label>
            <input ng-model="itemOfPage" type="text">
          </div>

          <div class="field">
            <label>Key</label>
            <input ng-model="key" type="password">
          </div>

          <div class="ui submit button" ng-click="Submit()">Save</div>

        </div>

      </div>

    </div>

  </div>

</div>
