<div class="container" style="margin: 0px auto;">
  <div class="row">
    <div class="container-fluid">
      <h1>
        <a href="#" onclick="event.preventDefault();" ng-click="GoBack()">
          Home
        </a>
        /
        Edit Post
      </h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-12">
      <input ng-model="title" type="text" class="form-control" style="text-align: center;" placeholder="Post Title">
    </div>
  </div>

  <form id="uploadform" onsubmit="Submit(event)" method="post" target="target" enctype="multipart/form-data" action="/upload" role="form">
    <input id="file" name="file" type="file" onchange="$('#filepath').val($('#file').val());" style="display: none;">
    <input type="hidden" name="key">
    <input type="hidden" name="date">
  </form>

  <div class="row">    
    <div class="form-group col-sm-2">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="isprivate"> is private?
        </label>
      </div>
    </div>
    
    <div class="form-group col-sm-5">
      <input ng-model="date" id="date" type="text" class="form-control" style="text-align: center;" readOnly>
    </div>
    
    <div class="form-group col-sm-5">
      <input ng-model="key" id="key" type="password" class="form-control" style="text-align: center;" placeholder="Pass Key">
    </div>
    
  </div>

  <div class="row">
    
    <div class="col-sm-2">
      <input ng-disabled="type != 'post'" type="text" ng-model="category" id="category" class="form-control" placeholder="category">
    </div>
    
    <div class="col-sm-2">
      <select ng-disabled="isarticle"class="form-control">
        <option>Categories</option>
        <option ng-repeat="it in categories" ng-click="ChangeCategory(it.name)" ng-selected="it.name == category" value="{{ it.name }}">{{ it.name }}</option>
      </select>
    </div>
    
    <div class="col-sm-2">
      <button onclick="$('#file').click()" class="btn btn-default form-control">
        <span class="glyphicon glyphicon-folder-open"></span> Browse
      </button>
    </div>
    <div class="col-sm-4">
      <input readonly id="filepath" class="form-control" type="text">
    </div>
    <div class="col-sm-2">
      <button onclick="Upload(event)" class="btn btn-default form-control">
        <span class="glyphicon glyphicon-cloud-upload"></span> Upload
      </button>
    </div>
  </div>

  <div id="editor"></div>
    
  <iframe id="target" name="target" src="" style="width: 0; height: 0; border: 0px solid #fff;"></iframe>

  <div>
    <button ng-click="Submit()" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-floppy-disk"></span> Submit
    </button>
  </div>

</div>

<script>
  
  function callback(info, str) {
    if (info == "error") {
      alertify.alert(str);
    } else if (info == "success") {
      var c = $("textarea[name='content']")[0];
      if (str.match(/(\.jpg|\.jpeg|\.png|\.gif)$/)) {
        c.value += "\n![](" + str + ")\n";
      } else {
        c.value += "\n[" + str + "](" + str + ")\n";
      }
    }
  }

  function Upload (e) {
    e.preventDefault();
    $("#uploadform > input[name='key']").val($("#key").val().trim());
    $("#uploadform > input[name='date']").val($("#date").val().trim());
    $("#uploadform").submit();
  };
  
  function Submit (e) {
    var files = $("#file")[0];
    if (!files.files || files.files.length <= 0 || files.files[0].size <= 0) {
      alertify.alert("please choose a valid file!");
      e.preventDefault();
      return;
    }
    var date = $("#date").val().trim();
    var key = $("#key").val().trim();
    if (date == "") {
      alertify.alert("date can't be empty!");
      e.preventDefault();
      return;
    }
    if (key == "") {
      alertify.alert("key can't be empty!");
      e.preventDefault();
      return;
    }
  }

</script>
