<div class="container" style="margin: 0px auto;">
  <div class="row">
    <div class="container-fluid">
      <h1>
        <a href="#/main">
          {{ title }}
        </a>
        <small class="pull-right" style="padding-top: 25px;">{{ subtitle }}</small>
      </h1>
      <hr>
    </div>
  </div>
  
  <div class="row">
    
    <div class="col-md-3 hidden-xs hidden-sm"><!-- 左侧栏 -->
      <div class="container-fluid">
        <div class="row">
        
          <div class="list-group" ng-show="articles && articles.length">
            <a ng-repeat="article in articles"
              class="list-group-item"
              href="#/show/{{ article.id }}"
            > {{ article.title }} </a>
          </div>          
          
          <div class="panel panel-default" ng-show="categories && categories.length">
            <div class="panel-body list-group">
              <ul>
                <li ng-repeat="it in categories" style="margin: 10px 0;">
                  <a  style="{{ it.name == category ? 'color: red;' : ''}}" href="#/main?category={{ it.name }}">{{ it.name }}({{ it.value }})</a>
                </li>
              </ul>
            </div>
          </div><!-- /panel -->
          
          <div class="panel panel-default">
            <div class="panel-body list-group">
              
              <select class="form-control" style="margin: 10px 0;" ng-model="archiveSelected" ng-change="GoArchive(archiveSelected)">
                <option>Archive</option>
                <option ng-repeat="it in archives" ng-selected="it.name == archive" value="{{ it.name }}">{{ it.name }} - {{ it.value }}</option>
              </select>
              
              <form class="input-group" ng-submit="Search(search)" style="margin: 10px 0;">
                <input type="text" ng-model="search" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Go!</button>
                </span>
              </form><!-- /input-group -->
              
            </div>
          </div><!-- /panel -->
          
        </div><!-- /row -->
      </div><!-- /container-fluid -->
    </div><!-- /左侧栏 -->
    
    <div class="col-md-9 col-xs-12"><!-- 右侧栏 -->
      
      <div class="container-fluid">
        
        <div class="row">
          
          <div class="visible-xs-block visible-sm-block"><!-- nav while thin screen -->
            
            <ol class="breadcrumb" style="margin: 10px 0;" ng-show="articles && articles.length">
              <li ng-repeat="article in articles">
                <a href="#/show/{{ article.id }}">
                  {{ article.title }}
                </a>
              </li>
            </ol>
            
            <ol class="breadcrumb" style="margin: 10px 0;">
              <li ng-repeat="it in categories">
                <a  style="{{ it.name == category ? 'color: red;' : ''}}" href="#/main?category={{ it.name }}">{{ it.name }}({{ it.value }})</a>
              </li>
            </ol>
            
            <div style="margin: 10px 0;">
              <select class="form-control" ng-model="archiveSelected" ng-change="GoArchive(archiveSelected)">
                <option>Archive</option>
                <option ng-repeat="it in archives" ng-selected="it.name == archive" value="{{ it.name }}" >{{ it.name }} - {{ it.value }}</option>
              </select>
            </div>
            
            <form class="input-group" ng-submit="Search(search)" style="margin: 10px 0;">
              <input type="text" ng-model="search" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Go!</button>
              </span>
            </form><!-- /input-group -->
            
          </div><!-- /nav while thin screen -->
          
          <div><!-- post list -->
            <div ng-show="message && message.length" class="text-center">
              <h3>{{ message }}</h3>
            </div>
            
            <div class="list-group">
              <a ng-repeat="post in posts"
                class="list-group-item"
                href="#/show/{{ post.id }}"
              >
                {{ post.title }}
                <small class="hidden-xs pull-right">
                  <span ng-if="post.accessible == 'private'">
                    &lt;private&gt;
                  </span>
                  <span ng-if="post.category && post.category.length">
                    &lt;{{ post.category }}&gt;
                  </span>
                  <span>
                    &lt;{{ post.date }}&gt;
                  </span>
                </small>
              </a><!-- /a -->
            </div><!-- /list-group -->
            
          </div><!-- /post list -->
          
          
          <nav ng-show="posts && posts.length"><!-- pagination -->
            <ul class="pagination" style="width: 100%;">
    
          <div class="pull-right" style="padding-bottom: 10px;"><!-- manage button -->
            <div ng-if="!HasKey()">
              <button class="btn btn-default" ng-click="Verify(GetPosts)">Verify</button>
            </div>
            <div ng-if="HasKey()">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownManage2" data-toggle="dropdown" aria-expanded="true">
                  Manage
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownManage2">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#/new">New</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#/config">Config</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#/password">Passwd</a></li>
                </ul>
              </div>
            </div>
          </div><!-- /manage button -->
              
              <li ng-if="page != 1"><!-- 不是第一页，显示正常第一页按钮 -->
                <a href="#/main{{ param(1) }}" title="Firt p1">
                  <span class="glyphicon glyphicon-step-backward"></span>
                  1
                </a>
              </li>
              <li ng-if="page == 1" class="disabled"><!-- 是第一页，显示禁用了的 -->
                <a href="#" onclick="event.preventDefault()">
                  <span class="glyphicon glyphicon-step-backward"></span>
                  1
                </a>
              </li>
              
              <li ng-if="page != 1"><!-- 不是第一页，显示正常前一页按钮 -->
                <a href="#/main{{ param(page-1) }}" title="Prev P{{ page - 1}}">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
              </li>
              <li ng-if="page == 1" class="disabled"><!-- 是第一页，显示禁止了的前一页按钮 -->
                <a href="#" onclick="event.preventDefault()">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
              </li>
              
              <li ng-repeat="num in range(3, page) track by $index"
                ng-class="{disabled: num <= 0 || num > maxPage, active: num == page}">
                
                <a href="#" ng-if="num <= 0 || num > maxPage" onclick="event.preventDefault()">
                  &nbsp;
                </a><!-- 无页，显示禁止了的空按钮 -->
                
                <a href="#/main{{ param(num) }}" ng-if="num > 0 && num <= maxPage" title="page {{ num }}">
                  {{ num }}
                </a><!-- 正常页号按钮 -->
                
              </li>
              
              <li ng-if="page != maxPage"><!-- 不是最后一页，显示正常下一页按钮 -->
                <a href="#/main{{ param(page + 1) }}" title="Next P{{ page + 1 }}">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </li>
              <li ng-if="page == maxPage" class="disabled"><!-- 是最后一页，显示禁止了的下一页按钮 -->
                <a href="#" onclick="event.preventDefault()">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </li>
              
              <li ng-if="page != maxPage"><!-- 不是最后一页，显示正常跳转到最后一页按钮 -->
                <a href="#/main{{ param(maxPage) }}" title="Last P{{ maxPage }}">
                  {{ maxPage }}
                  <span class="glyphicon glyphicon-step-forward"></span>
                </a>
              </li>
              <li ng-if="page == maxPage" class="disabled"><!-- 是最后一页，显示禁止了的最后一页按钮 -->
                <a href="#" onclick="event.preventDefault()">
                  {{ maxPage }}
                  <span class="glyphicon glyphicon-step-forward"></span>
                </a>
              </li>
            </ul>
          </nav><!-- /pagination -->
          
        </div><!-- /row -->
      </div><!-- /container-fluid -->
      
    </div><!-- /右侧栏 -->
    
  </div>
</div>
