<div class="container" style="margin: 20px auto;">
  <div class="row">
    <div class="container-fluid">
      <a class="h1" href="#/main">
        Home
      </a>
      <span class="h1">&nbsp;/&nbsp;</span>
      <a class="h1" href="#/password">
        Password
      </a>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">      
      <label>Old Key:</label>
      <input class="form-control" ng-model="okey" type="password">
      <label>New Key:</label>
      <input class="form-control" ng-model="nkey" type="password">
      <label>New Key Repeat:</label>
      <input class="form-control" ng-model="rkey" type="password">
      
      <button class="btn btn-primary" ng-click="Submit()">Submit</button>
    </div>
  </div>
  
</div>

