<div class="container" style="margin: 0px auto;">
  <div class="row">
    <h1>
      <a href="#" onclick="event.preventDefault();" ng-click="goBack()">
        <span class="glyphicon glyphicon-home"></span>
        Home
      </a>
      /
      <a href="#/password">
        Password
      </a>
    </h1>
    <hr>
  </div>

  <div class="row">
    <div class="col-xs-12">      
      <label>Old Key:</label>
      <input class="form-control" ng-model="okey" type="password">
      <label>New Key:</label>
      <input class="form-control" ng-model="nkey" type="password">
      <label>New Key Repeat:</label>
      <input class="form-control" ng-model="rkey" type="password">
      
      <button class="btn btn-primary" ng-click="Submit()">Submit</button>
    </div>
  </div>
  
</div>

