<div class="ui page grid">

  <div class="row">
  
    <div class="column">
      
      <div class="ui segment">
    
        <div class="ui form">
        
          <h1 class="ui dividing header">
            <a href="#/">Home</a> / Password
          </h1>
          
          <div class="field">
            <label>Old Key</label>
            <input ng-model="okey" type="password">
          </div>
          
          <div class="field">
            <label>New Key</label>
            <input ng-model="nkey" type="password">
          </div>
          
          <div class="field">
            <label>Repeat New Key</label>
            <input ng-model="rkey" type="password">
          </div>
          
          <div class="ui submit button" ng-click="Submit()">Save</div>
        
        </div>
      
      </div>
    
    </div>
  
  </div>

</div>

