<div class="container" style="margin: 0px auto;">
  <div class="row">
    <h1>
      <a href="#" onclick="event.preventDefault();" ng-click="goBack()">
        <span class="glyphicon glyphicon-home"></span>
        Home
      </a>
      /
      {{ title }}
    </h1>
    <hr>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div id="content" class="topic-content" style="font-size: 1.2em;">
      </div>
    </div>
  </div>
  
  <div class="row">
    <hr>
    <div class="pull-right">
      <span>{{ createDate }}</span>
      <br>
      <span>{{ editDate }}</span>
    </div>
    <br>
    <a href="#/edit/{{ id }}" class="btn btn-default btn-small">Edit</a>
    <button class="btn btn-default btn-small" ng-click="del()">Delete</button>
  </div>
</div>

